# Milestone 1: Tackling big data on your labÂ¶

In this exercise we are different data to analyze a big data set locally. We are loading a data set on [figshare](https://figshare.com/articles/dataset/Daily_rainfall_over_NSW_Australia/14096681) reporting the time we needed to run the analyses in our groupmates' laptops.

## Basic set-ups

In [1]:
# import all the packages needed
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
import numpy as np

In [2]:
# Project path
## Please change it to the location of your choice
%cd "/home/jenit/Desktop/Labs/Block_6/525/525_group18_2023/data"

/home/jenit/Desktop/Labs/Block_6/525/525_group18_2023/data

## Downloading the data

We are using the figshare API to download the data for the analysis.

In [3]:
# Metadata
## Article ID of figshare
article_id = 14096681  
# Beuzen, Tomas (2021): Daily rainfall over NSW, Australia. figshare. Dataset. https://doi.org/10.6084/m9.figshare.14096681.v3

## URL
url = f"https://api.figshare.com/v2/articles/{article_id}"

## Header
headers = {"Content-Type": "application/json"}

In [4]:
# Change the output directory for the data files
output_directory = "rainforest/"

In [5]:
# Send a GET request to list the available files
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data
files = data["files"]             # this is just the data about the files
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

In [8]:
%%time
# Download data.zip
files_to_dl = ["data.zip"]  # data.zip
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 2.91 s, sys: 3.42 s, total: 6.32 s
Wall time: 2min 2s

In [9]:
%%time
# Extract data.zip
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: user 8.37 s, sys: 2.99 s, total: 11.4 s
Wall time: 11.6 s

In [10]:
# List the folder
%ls -ltr rainforest

total 6016568
-rw-rw-r-- 1 jenit jenit 814041183 Mar 31 15:13 data.zip
-rw-rw-r-- 1 jenit jenit  95376895 Mar 31 15:13 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  94960113 Mar 31 15:13 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  82474546 Mar 31 15:13 NorESM2-LM_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 127613760 Mar 31 15:13 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 232118894 Mar 31 15:13 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 330360682 Mar 31 15:13 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 254009247 Mar 31 15:13 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 235661418 Mar 31 15:13 GFDL-CM4_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 294260911 Mar 31 15:13 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 295768615 Mar 31 15:13 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 328852379 Mar 31 15:13 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  67784105 Mar 31 15:13 NESM3_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  95640682 Mar 31 15:13 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 114707410 Mar 31 15:13 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 116179272 Mar 31 15:13 FGOALS-g3_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 102517965 Mar 31 15:13 INM-CM4-8_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 515458033 Mar 31 15:13 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 332813281 Mar 31 15:13 TaiESM1_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 337555851 Mar 31 15:13 NorESM2-MM_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 328787320 Mar 31 15:13 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit    952202 Mar 31 15:13 observed_daily_rainfall_SYD.csv
-rw-rw-r-- 1 jenit jenit  93829697 Mar 31 15:13 KIOST-ESM_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 102692289 Mar 31 15:13 INM-CM5-0_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 206822938 Mar 31 15:13 MIROC6_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  55224437 Mar 31 15:13 BCC-ESM1_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 124586961 Mar 31 15:13 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit  46286371 Mar 31 15:13 CanESM5_daily_rainfall_NSW.csv
-rw-rw-r-- 1 jenit jenit 333489879 Mar 31 15:13 SAM0-UNICON_daily_rainfall_NSW.csv
drwxrwxr-x 2 jenit jenit      4096 Mar 31 15:13 __MACOSX/

In [11]:
# Show a list of paths
files = glob.glob('rainforest/*.csv')
files

['rainforest/CMCC-CM2-SR5_daily_rainfall_NSW.csv',
 'rainforest/MPI-ESM1-2-LR_daily_rainfall_NSW.csv',
 'rainforest/INM-CM5-0_daily_rainfall_NSW.csv',
 'rainforest/NorESM2-LM_daily_rainfall_NSW.csv',
 'rainforest/KIOST-ESM_daily_rainfall_NSW.csv',
 'rainforest/FGOALS-g3_daily_rainfall_NSW.csv',
 'rainforest/observed_daily_rainfall_SYD.csv',
 'rainforest/CMCC-CM2-HR4_daily_rainfall_NSW.csv',
 'rainforest/NESM3_daily_rainfall_NSW.csv',
 'rainforest/CMCC-ESM2_daily_rainfall_NSW.csv',
 'rainforest/EC-Earth3-Veg-LR_daily_rainfall_NSW.csv',
 'rainforest/FGOALS-f3-L_daily_rainfall_NSW.csv',
 'rainforest/GFDL-CM4_daily_rainfall_NSW.csv',
 'rainforest/CanESM5_daily_rainfall_NSW.csv',
 'rainforest/INM-CM4-8_daily_rainfall_NSW.csv',
 'rainforest/ACCESS-ESM1-5_daily_rainfall_NSW.csv',
 'rainforest/MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv',
 'rainforest/SAM0-UNICON_daily_rainfall_NSW.csv',
 'rainforest/BCC-ESM1_daily_rainfall_NSW.csv',
 'rainforest/BCC-CSM2-MR_daily_rainfall_NSW.csv',
 'rainforest/MPI-ESM1-2-HR_daily_rainfall_NSW.csv',
 'rainforest/MRI-ESM2-0_daily_rainfall_NSW.csv',
 'rainforest/NorESM2-MM_daily_rainfall_NSW.csv',
 'rainforest/GFDL-ESM4_daily_rainfall_NSW.csv',
 'rainforest/TaiESM1_daily_rainfall_NSW.csv',
 'rainforest/AWI-ESM-1-1-LR_daily_rainfall_NSW.csv',
 'rainforest/MIROC6_daily_rainfall_NSW.csv',
 'rainforest/ACCESS-CM2_daily_rainfall_NSW.csv']

## Data Combination

We are extracting the common column names for all the `.csv` files.

In [12]:
# Show the columns available in a data file
sample1 = pd.read_csv('rainforest/SAM0-UNICON_daily_rainfall_NSW.csv')
cols = sample1.columns.to_list()
cols

['time', 'lat_min', 'lat_max', 'lon_min', 'lon_max', 'rain (mm/day)']

In [13]:
%%time
## Combine data CSVs into a single CSV using pandas
files = glob.glob('rainforest/*.csv')
excluded_files = ['rainforest/observed_daily_rainfall_SYD.csv', 'rainforest/combined.csv']

df = pd.concat((pd.read_csv(file,
                            index_col=False, 
                            usecols=cols,
                            # low_memory = False
                           )
                .assign(model=re.findall('/([^_]*)', file)[0]) # find the model name before the first underscore and assign it to "model"
                for file in files if file not in excluded_files # do not include observed_daily_rainfall_SYD.csv and combined.csv
               )
              )
df.to_csv("rainforest/combined.csv")

CPU times: user 4min 19s, sys: 18.7 s, total: 4min 37s
Wall time: 4min 41s

In [14]:
df.shape

(62467843, 7)

In [15]:
df.head()

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-35.811518,-34.86911,140.625,141.875,4.244271e-04,CMCC-CM2-SR5
1,1889-01-02 12:00:00,-35.811518,-34.86911,140.625,141.875,6.157990e-03,CMCC-CM2-SR5
2,1889-01-03 12:00:00,-35.811518,-34.86911,140.625,141.875,2.182741e-08,CMCC-CM2-SR5
3,1889-01-04 12:00:00,-35.811518,-34.86911,140.625,141.875,0.000000e+00,CMCC-CM2-SR5
4,1889-01-05 12:00:00,-35.811518,-34.86911,140.625,141.875,8.965533e-09,CMCC-CM2-SR5

In [16]:
# Convert to float32
df32 = df.astype('float32', errors='ignore')

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |6min 47s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |Memory Error            |
| Markus      | Mac              | 24GB | M2       | Yes    |3min 41s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | 4min 41s|

The run time for combining the data frames is shorter for machines with better chips and larger RAM. One of our members' laptop cannot load the data frame because the RAM on his computer is too small.

In [17]:
# Check memory usage
print(f"Memory usage with float64: {df.memory_usage().sum() / 1e6:.2f} MB")
print(f"Memory usage with float32: {df32.memory_usage().sum() / 1e6:.2f} MB")

Memory usage with float64: 3997.94 MB
Memory usage with float32: 2748.59 MB

## Simple EDA

We are using 2 different techniques to to reduce memory used for an EDA.

The first approach we are using is by loading only the columns we want to use in our analysis.

In [6]:
%%time
# EDA (load data - select columns)
use_cols = ['rain (mm/day)', 'model']

df = pd.read_csv("rainforest/combined.csv",
                   usecols=use_cols)

CPU times: user 19.3 s, sys: 3.9 s, total: 23.2 s
Wall time: 26 s

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |45.4s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |1min 25s            |
| Markus      | Mac              | 24GB | M2       | Yes    |18s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | 26s |

In [7]:
%%time
# EDA (get mean, max, min, median by model)
df.groupby('model')['rain (mm/day)'].agg(['mean', 'max', 'min', 'median'])

CPU times: user 2.93 s, sys: 813 ms, total: 3.75 s
Wall time: 3.75 s

                      mean         max           min        median
model
ACCESS-CM2        1.787025  432.939515  0.000000e+00  1.002723e-01
ACCESS-ESM1-5     2.217501  202.028315 -3.049319e-18  1.345675e-01
AWI-ESM-1-1-LR    2.026071   89.465749  9.065210e-14  4.426399e-02
BCC-CSM2-MR       1.951832  286.226671  3.766800e-24  4.321701e-02
BCC-ESM1          1.811032  164.058595  9.260348e-25  1.091290e-02
CMCC-CM2-HR4      2.279350  224.154387  0.000000e+00  2.687256e-01
CMCC-CM2-SR5      2.383389  202.845832 -4.077885e-13  2.171495e-01
CMCC-ESM2         2.266125  230.226552 -7.874900e-14  2.028418e-01
CanESM5           1.894328  173.812797  0.000000e+00  8.639222e-02
EC-Earth3-Veg-LR  1.516258  181.363752 -1.117158e-18  9.804963e-03
FGOALS-f3-L       1.627373  221.926296  0.000000e+00  2.216971e-02
FGOALS-g3         2.156419  231.048214  0.000000e+00  1.972944e-01
GFDL-CM4          1.414485  213.009969  0.000000e+00  1.884592e-02
GFDL-ESM4              NaN         NaN           NaN           NaN
INM-CM4-8         2.811463  213.416666  0.000000e+00  5.721548e-01
INM-CM5-0         2.669012  183.777840  0.000000e+00  4.226088e-01
KIOST-ESM         1.102353  171.087103  0.000000e+00  2.348028e-02
MIROC6            2.301662  226.551758  2.131704e-32  1.335269e-01
MPI-ESM-1-2-HAM   1.610720   94.270782  3.269844e-13  4.706947e-13
MPI-ESM1-2-HR     0.995569  165.985561  1.086636e-13  1.561897e-13
MPI-ESM1-2-LR     1.074308   83.957893  9.032558e-14  1.393234e-13
MRI-ESM2-0        1.368030  155.997464  0.000000e+00  4.738757e-03
NESM3             1.621936  113.945680  1.417632e-13  6.627137e-03
NorESM2-LM        2.230799  131.410211  0.000000e+00  9.282670e-02
NorESM2-MM        2.232966  263.833693  0.000000e+00  8.187802e-02
SAM0-UNICON       2.169676  208.259743 -4.866322e-14  6.444909e-02
TaiESM1           2.224576  200.510359 -3.807373e-12  1.167243e-01

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |6.83s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |10s            |
| Markus      | Mac              | 24GB | M2       | Yes    |2.93s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | 3.75s |

The time needed to load the data and to run the EDA is drastically shorter. Even the machine that cannot combine the `.csv` files can read the data with this method. With the time shortened, machines with better RAM and chips also took shorter time.

The second approach we are using is chaning the data type of the data to `float32` when loading it with `pandas`.

In [8]:
%%time
# EDA (load data - change dtype)
use_cols = ['rain (mm/day)', 'model']

df32 = pd.read_csv("rainforest/combined.csv",
                   dtype={'lat_min':'float32',
                          'lat_max':'float32',
                          'lon_min':'float32',
                          'lon_max':'float32',
                          'rain (mm/day)':'float32'})

CPU times: user 43.5 s, sys: 7.71 s, total: 51.2 s
Wall time: 52.2 s

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |1min 17s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |5min 31s            |
| Markus      | Mac              | 24GB | M2       | Yes    |37.7s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | 52.2s |

In [9]:
%%time
# EDA (.describe())
df32.describe()

CPU times: user 7.79 s, sys: 2.5 s, total: 10.3 s
Wall time: 10.5 s

,Unnamed: 0,lat_min,lat_max,lon_min,lon_max,rain (mm/day)
count,6.246784e+07,5.924854e+07,6.246784e+07,5.924854e+07,6.246784e+07,5.924854e+07
mean,1.479732e+06,-3.310472e+01,-3.197751e+01,1.469055e+02,1.482153e+02,1.901171e+00
std,1.070480e+06,1.963549e+00,1.992067e+00,3.793784e+00,3.809994e+00,5.585735e+00
min,0.000000e+00,-3.646739e+01,-3.600000e+01,1.406250e+02,1.412500e+02,-3.807373e-12
25%,5.805280e+05,-3.486911e+01,-3.366221e+01,1.434375e+02,1.450000e+02,3.838413e-06
50%,1.267234e+06,-3.300000e+01,-3.204189e+01,1.468750e+02,1.481250e+02,6.154947e-02
75%,2.273266e+06,-3.140170e+01,-3.015707e+01,1.501875e+02,1.513125e+02,1.020918e+00
max,5.154239e+06,-2.990000e+01,-2.790606e+01,1.537500e+02,1.556250e+02,4.329395e+02

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |10s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |43.4s            |
| Markus      | Mac              | 24GB | M2       | Yes    |8.48s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | 10.5s |

The time needed to load the data and to run the EDA is also shorter. Even the machine that cannot combine the `.csv` files can read the data with this method. With the time shortened, machines with better RAM and chips also took shorter time. Changing the data type is less efficient than only loading the used columns in terms of improving the time and mememory used.

## Simple EDA in R

To transfer the data from `python` to `R`, we are using arrow. We chose this method because it is an approach optimizing memory usage, which is a more focused issue in this exercise.

In [ ]:
# import for R. Please change the path by referring to the result of `conda run -n 525_2023 python -m site`
import os
os.environ['R_HOME'] = '/opt/miniconda3/envs/525/lib/R'

In [ ]:
%load_ext rpy2.ipython

In [ ]:
# Please change the path for the data files
%cd /Users/chnam/OneDrive - UBC/DSCI_525/milestone_1/

/Users/chnam/Library/CloudStorage/OneDrive-UBC/DSCI_525/milestone_1

We first loaded the data using `pyarrow` and convert the data into a `rarrow table`.

In [ ]:
# Use R and python interchangeably (with arrow)
import pyarrow.dataset as ds
import rpy2_arrow.pyarrow_rarrow as pyra

In [ ]:
%%time
dataset = ds.dataset("rainforest/combined.csv", format="csv")

# Converting the `pyarrow dataset` to a `pyarrow table`
table = dataset.to_table()

# Converting a `pyarrow table` to a `rarrow table`
r_table = pyra.converter.py2rpy(table)

CPU times: user 12.1 s, sys: 2.08 s, total: 14.2 s
Wall time: 19 s

We transfered the table to `R`, minimizing the time in serialization / deserialization.

In [ ]:
%%R
suppressMessages(library(dplyr))
suppressMessages(library(readr))

In [ ]:
%%R -i r_table
# EDA (count by model)
start_time <- Sys.time()
result <- r_table %>%
    select(model) %>%
    count(model)
end_time <- Sys.time()
print(result %>% collect())
print(end_time - start_time)

# A tibble: 27 Ã 2
   model                  n
   <chr>              <int>
 1 MPI-ESM-1-2-HAM   966420
 2 AWI-ESM-1-1-LR    966420
 3 NorESM2-LM        919800
 4 ACCESS-CM2       1932840
 5 FGOALS-f3-L      3219300
 6 CMCC-CM2-HR4     3541230
 7 MRI-ESM2-0       3037320
 8 GFDL-CM4         3219300
 9 BCC-CSM2-MR      3035340
10 EC-Earth3-Veg-LR 3037320
# â¹ 17 more rows
# â¹ Use `print(n = ...)` to see more rows
Time difference of 0.02721 secs

In [ ]:
%%R
# EDA (list records with NA `rain (mm/day)`)
start_time <- Sys.time()
result <- r_table %>%
    select(time, lat_min, lat_max, lon_min, lon_max, `rain (mm/day)`, model) %>%
    filter(is.na(`rain (mm/day)`))
end_time <- Sys.time()
print(result %>% collect())
print(end_time - start_time)

# A tibble: 3,219,300 Ã 7
   time                lat_min lat_max lon_min lon_max `rain (mm/day)` model
   <dttm>                <dbl>   <dbl>   <dbl>   <dbl>           <dbl> <chr>
 1 1913-09-19 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 2 1913-09-20 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 3 1913-09-21 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 4 1913-09-22 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 5 1913-09-23 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 6 1913-09-24 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 7 1913-09-25 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 8 1913-09-26 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 9 1913-09-27 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
10 1913-09-28 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
# â¹ 3,219,290 more rows
# â¹ Use `print(n = ...)` to see more rows
Time difference of 0.01959991 secs