# Milestone 1: Tackling big data on your lab

In this exercise we are different data to analyze a big data set locally. We are loading a data set on [figshare](https://figshare.com/articles/dataset/Daily_rainfall_over_NSW_Australia/14096681) reporting the time we needed to run the analyses in our groupmates' laptops.

## Basic set-ups

In [1]:
# import all the packages needed
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd
import numpy as np

In [2]:
# Project path
## Please change it to the location of your choice
%cd "/Users/User/mds-labs/DSCI-525/525_group18_2023"

C:\Users\User\mds-labs\DSCI-525\525_group18_2023

## Downloading the data

We are using the figshare API to download the data for the analysis.

In [4]:
# Metadata
## Article ID of figshare
article_id = 14096681  
# Beuzen, Tomas (2021): Daily rainfall over NSW, Australia. figshare. Dataset. https://doi.org/10.6084/m9.figshare.14096681.v3

## URL
url = f"https://api.figshare.com/v2/articles/{article_id}"

## Header
headers = {"Content-Type": "application/json"}

In [5]:
# Change the output directory for the data files
output_directory = "rainforest/"

In [6]:
# Send a GET request to list the available files
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data
files = data["files"]             # this is just the data about the files
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

We are extracting the zip file.

In [7]:
%%time
# Download data.zip
files_to_dl = ["data.zip"]  # data.zip
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: total: 35.9 s
Wall time: 5min 26s

In [8]:
%%time
# Extract data.zip
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: total: 36.3 s
Wall time: 38.8 s

In [9]:
# List the folder
%ls -ltr rainforest

 Volume in drive C has no label.
 Volume Serial Number is 94F6-1575

 Directory of C:\Users\User\mds-labs\DSCI-554\DSCI_554_lab1_mormf728


 Directory of C:\Users\User\mds-labs\DSCI-554\DSCI_554_lab1_mormf728\rainforest

03/29/2023  08:19 PM    <DIR>          .
03/29/2023  08:19 PM    <DIR>          ..
03/29/2023  08:19 PM    <DIR>          __MACOSX
03/29/2023  08:18 PM       127,613,760 ACCESS-CM2_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       114,707,410 ACCESS-ESM1-5_daily_rainfall_NSW.csv
03/29/2023  08:18 PM        94,960,113 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       294,260,911 BCC-CSM2-MR_daily_rainfall_NSW.csv
03/29/2023  08:19 PM        55,224,437 BCC-ESM1_daily_rainfall_NSW.csv
03/29/2023  08:19 PM        46,286,371 CanESM5_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       330,360,682 CMCC-CM2-HR4_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       328,787,320 CMCC-CM2-SR5_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       328,852,379 CMCC-ESM2_daily_rainfall_NSW.csv
03/29/2023  08:18 PM       814,041,183 data.zip
03/29/2023  08:19 PM       295,768,615 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
03/29/2023  08:18 PM       232,118,894 FGOALS-f3-L_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       116,179,272 FGOALS-g3_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       235,661,418 GFDL-CM4_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       124,586,961 GFDL-ESM4_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       102,517,965 INM-CM4-8_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       102,692,289 INM-CM5-0_daily_rainfall_NSW.csv
03/29/2023  08:19 PM        93,829,697 KIOST-ESM_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       206,822,938 MIROC6_daily_rainfall_NSW.csv
03/29/2023  08:18 PM        95,376,895 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       515,458,033 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
03/29/2023  08:19 PM        95,640,682 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       254,009,247 MRI-ESM2-0_daily_rainfall_NSW.csv
03/29/2023  08:19 PM        67,784,105 NESM3_daily_rainfall_NSW.csv
03/29/2023  08:18 PM        82,474,546 NorESM2-LM_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       337,555,851 NorESM2-MM_daily_rainfall_NSW.csv
03/29/2023  08:19 PM           952,202 observed_daily_rainfall_SYD.csv
03/29/2023  08:19 PM       333,489,879 SAM0-UNICON_daily_rainfall_NSW.csv
03/29/2023  08:19 PM       332,813,281 TaiESM1_daily_rainfall_NSW.csv
              29 File(s)  6,160,827,336 bytes
               3 Dir(s)  51,298,988,032 bytes free

File Not Found

In [10]:
# Show a list of paths
files = glob.glob('rainforest/*.csv')
files

['rainforest\\ACCESS-CM2_daily_rainfall_NSW.csv',
 'rainforest\\ACCESS-ESM1-5_daily_rainfall_NSW.csv',
 'rainforest\\AWI-ESM-1-1-LR_daily_rainfall_NSW.csv',
 'rainforest\\BCC-CSM2-MR_daily_rainfall_NSW.csv',
 'rainforest\\BCC-ESM1_daily_rainfall_NSW.csv',
 'rainforest\\CanESM5_daily_rainfall_NSW.csv',
 'rainforest\\CMCC-CM2-HR4_daily_rainfall_NSW.csv',
 'rainforest\\CMCC-CM2-SR5_daily_rainfall_NSW.csv',
 'rainforest\\CMCC-ESM2_daily_rainfall_NSW.csv',
 'rainforest\\EC-Earth3-Veg-LR_daily_rainfall_NSW.csv',
 'rainforest\\FGOALS-f3-L_daily_rainfall_NSW.csv',
 'rainforest\\FGOALS-g3_daily_rainfall_NSW.csv',
 'rainforest\\GFDL-CM4_daily_rainfall_NSW.csv',
 'rainforest\\GFDL-ESM4_daily_rainfall_NSW.csv',
 'rainforest\\INM-CM4-8_daily_rainfall_NSW.csv',
 'rainforest\\INM-CM5-0_daily_rainfall_NSW.csv',
 'rainforest\\KIOST-ESM_daily_rainfall_NSW.csv',
 'rainforest\\MIROC6_daily_rainfall_NSW.csv',
 'rainforest\\MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv',
 'rainforest\\MPI-ESM1-2-HR_daily_rainfall_NSW.csv',
 'rainforest\\MPI-ESM1-2-LR_daily_rainfall_NSW.csv',
 'rainforest\\MRI-ESM2-0_daily_rainfall_NSW.csv',
 'rainforest\\NESM3_daily_rainfall_NSW.csv',
 'rainforest\\NorESM2-LM_daily_rainfall_NSW.csv',
 'rainforest\\NorESM2-MM_daily_rainfall_NSW.csv',
 'rainforest\\observed_daily_rainfall_SYD.csv',
 'rainforest\\SAM0-UNICON_daily_rainfall_NSW.csv',
 'rainforest\\TaiESM1_daily_rainfall_NSW.csv']

## Data Combination

We are extracting the common column names for all the `.csv` files.

In [18]:
# Show the columns available in a data file
sample1 = pd.read_csv('rainforest/SAM0-UNICON_daily_rainfall_NSW.csv')
cols = sample1.columns.to_list()
cols

['time', 'lat_min', 'lat_max', 'lon_min', 'lon_max', 'rain (mm/day)']

We are combining the `.csv` files into 1 single data frame.

%%time
## Combine data CSVs into a single CSV using pandas
files = glob.glob('rainforest/*.csv')
excluded_files = ['rainforest/observed_daily_rainfall_SYD.csv', 'rainforest/combined.csv']

df = pd.concat((pd.read_csv(file,
                            index_col=False, 
                            usecols=cols,
                            # low_memory = False
                           )
                .assign(model=re.findall('/([^_]*)', file)[0]) # find the model name before the first underscore and assign it to "model"
                for file in files if file not in excluded_files # do not include observed_daily_rainfall_SYD.csv and combined.csv
               )
              )
df.to_csv("rainforest/combined.csv")

In [34]:
df.shape

(62467843, 7)

In [35]:
df.head()

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1,1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
2,1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
3,1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
4,1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM

In [36]:
# Convert to float32
df32 = df.astype('float32', errors='ignore')

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |6min 47s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |Memory Error            |
| Markus      | Mac              | 24GB | M2       | Yes    |3min 41s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | |

The run time for combining the data frames is shorter for machines with better chips and larger RAM. One of our members' laptop cannot load the data frame because the RAM on his computer is too small.

# Do we need this cell...?

In [37]:
# Check memory usage
print(f"Memory usage with float64: {df.memory_usage().sum() / 1e6:.2f} MB")
print(f"Memory usage with float32: {df32.memory_usage().sum() / 1e6:.2f} MB")

Memory usage with float64: 3997.94 MB
Memory usage with float32: 2748.59 MB

## Simple EDA

We are using 2 different techniques to to reduce memory used for an EDA.

The first approach we are using is by loading only the columns we want to use in our analysis.

In [24]:
%%time
# EDA (load data - select columns)
use_cols = ['rain (mm/day)', 'model']

df = pd.read_csv("rainforest\\combined.csv",
                   usecols=use_cols)

CPU times: total: 1min 23s
Wall time: 1min 25s

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |45.4s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |1min 25s            |
| Markus      | Mac              | 24GB | M2       | Yes    |18s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | |

In [25]:
%%time
# EDA (get mean, max, min, median by model)
df.groupby('model')['rain (mm/day)'].agg(['mean', 'max', 'min', 'median'])

CPU times: total: 9.8 s
Wall time: 10 s

                    mean         max           min    median
model
ACCESS-CM2      1.787025  432.939515  0.000000e+00  0.100272
ACCESS-ESM1-5   2.217501  202.028315 -3.049319e-18  0.134568
AWI-ESM-1-1-LR  2.026071   89.465749  9.065210e-14  0.044264
BCC-CSM2-MR     1.951832  286.226671  3.766800e-24  0.043217
BCC-ESM1        1.811032  164.058595  9.260348e-25  0.010913
CMCC-CM2-HR4    2.279350  224.154387  0.000000e+00  0.268726
CMCC-CM2-SR5    2.383389  202.845832 -4.077885e-13  0.217150
CMCC-ESM2       2.266125  230.226552 -7.874900e-14  0.202842
CanESM5         1.894328  173.812797  0.000000e+00  0.086392
combined.csv    2.023938  432.939515 -4.077885e-13  0.108273

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |6.83s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |10s            |
| Markus      | Mac              | 24GB | M2       | Yes    |2.93s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | |

The time needed to load the data and to run the EDA is drastically shorter. Even the machine that cannot combine the `.csv` files can read the data with this method. With the time shortened, machines with better RAM and chips also took shorter time.

The second approach we are using is chaning the data type of the data to `float32` when loading it with `pandas`.

In [26]:
%%time
# EDA (load data - change dtype)
# use_cols = ['rain (mm/day)', 'model']

df32 = pd.read_csv("rainforest/combined.csv",
                   dtype={'lat_min':'float32',
                          'lat_max':'float32',
                          'lon_min':'float32',
                          'lon_max':'float32',
                          'rain (mm/day)':'float32'})

CPU times: total: 4min 21s
Wall time: 5min 31s

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |1min 17s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |5min 31s            |
| Markus      | Mac              | 24GB | M2       | Yes    |37.7s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | |

In [27]:
%%time
# EDA (.describe())
df32.describe()

CPU times: total: 33.9 s
Wall time: 43.4 s

,Unnamed: 0.1,lat_min,lat_max,lon_min,lon_max,rain (mm/day),Unnamed: 0
count,5.542500e+07,5.220570e+07,5.542500e+07,5.220570e+07,5.542500e+07,5.220570e+07,3.615225e+07
mean,1.228410e+07,-3.309013e+01,-3.197243e+01,1.468473e+02,1.481978e+02,2.071501e+00,1.395900e+06
std,1.158951e+07,1.945759e+00,1.978015e+00,3.787649e+00,3.804508e+00,5.772054e+00,9.556355e+05
min,0.000000e+00,-3.645570e+01,-3.600000e+01,1.406250e+02,1.412500e+02,-4.077885e-13,0.000000e+00
25%,1.695895e+06,-3.486911e+01,-3.364468e+01,1.434375e+02,1.450000e+02,2.846747e-04,5.667350e+05
50%,8.439750e+06,-3.298429e+01,-3.204189e+01,1.468750e+02,1.481250e+02,1.225681e-01,1.231226e+06
75%,2.229600e+07,-3.140170e+01,-3.015707e+01,1.501875e+02,1.513125e+02,1.301246e+00,2.164523e+06
max,3.615225e+07,-2.990000e+01,-2.790606e+01,1.531250e+02,1.550000e+02,4.329395e+02,3.541229e+06

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Yaou        | Windows          | 16GB| Intel(R) Core(TM) i7-1165G7 CPU @ 2.80GHz |Yes            |10s          |
| Morris      | Windows          | 8GB | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz   1.99 GHz | Yes    |43.4s            |
| Markus      | Mac              | 24GB | M2       | Yes    |8.48s            |
| Jenit       |  Ubunutu | 16GB |  AMD Ryzen 7 6800H with Radeon Graphics | Yes | |

The time needed to load the data and to run the EDA is also shorter. Even the machine that cannot combine the `.csv` files can read the data with this method. With the time shortened, machines with better RAM and chips also took shorter time. Changing the data type is less efficient than only loading the used columns in terms of improving the time and mememory used.

## Simple EDA in R

To transfer the data from `python` to `R`, we are using arrow. We chose this method because it is an approach optimizing memory usage, which is a more focused issue in this exercise.

In [3]:
# import for R. Please change the path by referring to the result of `conda run -n 525_2023 python -m site`
import os
os.environ['R_HOME'] = 'C:\\Users\\User\\miniconda3\\envs\\525_2023\\lib\\R'

In [4]:
%load_ext rpy2.ipython

C:\Users\User\miniconda3\envs\525_2023\lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(

In [155]:
# Please change the path for the data files
%cd /Users/chnam/OneDrive - UBC/DSCI_525/milestone_1/

/Users/chnam/Library/CloudStorage/OneDrive-UBC/DSCI_525/milestone_1

We first loaded the data using `pyarrow` and convert the data into a `rarrow table`.

In [ ]:
# Use R and python interchangeably (with arrow)
import pyarrow.dataset as ds
import rpy2_arrow.pyarrow_rarrow as pyra

In [ ]:
%%time
dataset = ds.dataset("rainforest/combined.csv", format="csv")

# Converting the `pyarrow dataset` to a `pyarrow table`
table = dataset.to_table()

# Converting a `pyarrow table` to a `rarrow table`
r_table = pyra.converter.py2rpy(table)

We transfered the table to `R`, minimizing the time in serialization / deserialization.

In [ ]:
%%R
suppressMessages(library(dplyr))
suppressMessages(library(readr))

In [161]:
%%R -i r_table
# EDA (count by model)
start_time <- Sys.time()
result <- r_table %>%
    select(model) %>%
    count(model)
end_time <- Sys.time()
print(result %>% collect())
print(end_time - start_time)

# A tibble: 27 × 2
   model                  n
   <chr>              <int>
 1 MPI-ESM-1-2-HAM   966420
 2 AWI-ESM-1-1-LR    966420
 3 NorESM2-LM        919800
 4 ACCESS-CM2       1932840
 5 FGOALS-f3-L      3219300
 6 CMCC-CM2-HR4     3541230
 7 MRI-ESM2-0       3037320
 8 GFDL-CM4         3219300
 9 BCC-CSM2-MR      3035340
10 EC-Earth3-Veg-LR 3037320
# ℹ 17 more rows
# ℹ Use `print(n = ...)` to see more rows
Time difference of 0.02721 secs

In [162]:
%%R
# EDA (list records with NA `rain (mm/day)`)
start_time <- Sys.time()
result <- r_table %>%
    select(time, lat_min, lat_max, lon_min, lon_max, `rain (mm/day)`, model) %>%
    filter(is.na(`rain (mm/day)`))
end_time <- Sys.time()
print(result %>% collect())
print(end_time - start_time)

# A tibble: 3,219,300 × 7
   time                lat_min lat_max lon_min lon_max `rain (mm/day)` model
   <dttm>                <dbl>   <dbl>   <dbl>   <dbl>           <dbl> <chr>
 1 1913-09-19 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 2 1913-09-20 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 3 1913-09-21 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 4 1913-09-22 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 5 1913-09-23 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 6 1913-09-24 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 7 1913-09-25 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 8 1913-09-26 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
 9 1913-09-27 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
10 1913-09-28 04:00:00      NA     -36      NA    141.              NA GFDL-ESM4
# ℹ 3,219,290 more rows
# ℹ Use `print(n = ...)` to see more rows
Time difference of 0.01959991 secs